@using SistemaPacientes.Core.Application.ViewModels.Medico
@model ICollection<MedicoViewModel>
@{
    ViewData["Title"] = "Mantenimiento Medicos";
}

<div class="container my-2">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <img class="bi mt-4 mb-3" src="~/image/Logo.png" width="100" height="100" style="color: var(--bs-indigo); --darkreader-inline-color: var(--darkreader-text--bs-indigo);">
        <h1 class="text-body-emphasis">Mantenimiento de Medicos</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Este sistema es fundamental para garantizar una gestión eficiente de los médicos en una organización de atención médica, lo que facilita la asignación de tareas, la programación de citas y la administración de recursos humanos.  
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a asp-controller="Medico" asp-action="Create" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Crear Medico
            </a>
            <button asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                Volver Atras
            </button>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
@foreach (var item in Model)
{
        <div class="col">
            <div class="card shadow-sm">
                <img src="@item.Foto" class="card-img-top" alt="@item.Nombre" />
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre @item.Apellido</h5>
                    <p class="card-text">Telefono: @item.Telefono</p>
                    <p class="card-text">Correo: @item.Correo</p>
                    <p class="card-text">Cedula: @item.Cedula</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-warning" asp-controller="Medico" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a asp-controller="Medico" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
            </div>
        </div>


}
</div>
